@model GestorPacientes.Web.Models.PacienteModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details_Pacientes</h1>

<div>
    <h4>PacienteModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idpacientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idpacientes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_paciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_nacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_nacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero_telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero_telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alergias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alergias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnostico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnostico)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Idpacientes }) |
    <a asp-action="Index">Back to List</a>
</div>
